# escape=`
# Use the latest Windows Server Core image with .NET Framework 4.7.1.
image:
  name: microsoft/dotnet/framework/sdk:4.8
  entrypoint: ['C:\BuildTools\Common7\Tools\VsDevCmd.bat &&']

build:
  stage: build
  script:
    - powershell -Command '$url = "https://aka.ms/vs/16/release/vs_buildtools.exe"'
    - powershell -Command '$output = "C:\TEMP\vs_buildtools.exe"'
    - powershell -Command "(New-Object System.Net.WebClient).DownloadFile($url, $output)"
    - powershell -Command 'C:\TEMP\vs_buildtools.exe --quiet --wait --norestart --nocache --installPath C:\BuildTools --all --remove Microsoft.VisualStudio.Component.Windows10SDK.10240 --remove Microsoft.VisualStudio.Component.Windows10SDK.10586 --remove Microsoft.VisualStudio.Component.Windows10SDK.14393 --remove Microsoft.VisualStudio.Component.Windows81SDK || IF "%ERRORLEVEL%"=="3010" EXIT 0'
    - 'nuget restore' # restore Nuget dependencies
    - 'msbuild /p:Configuration=Release' # build the project